* {
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif, Arial;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}
h1,
h2 {
  text-align: center;
}

body {
  width: 100%;
  height: 100%;
  background-color: lightgray;
}

.flex-row {
  display: flex;
  align-items: center;
}

.col-1-3 {
  display: flex;
  line-height: 110px;
  width: calc(100% / 3);
  justify-content: center;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
@media (max-width: 768px) {
  .container {
    min-width: 768px;
  }
}

.main-menu {
  font-size: 1em;
  font-weight: bold;
  display: flex;
  background-color: white;
  height: 56px;
}
.main-menu__link {
  display: flex;
  color: black;
  width: 20%;
  line-height: 55px;
  justify-content: space-around;
  align-items: center;
  position: relative;
  text-decoration: none;
}
.main-menu__link:hover {
  color: #81b3d2;
}
.main-menu__link:focus {
  color: rgb(117, 117, 117);
}

.logo {
  z-index: 5;
}
.nav-logo:after {
  content: '';
  background-image: url('../img/logo-bg.png');
  background-position: center top;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 130%;
  z-index: 2;
}

.banner__image {
  background: url('../img/intro-1200.jpg');
  background-position: center -60px;
  background-size: auto;
  height: 540px;
  width: 100%;
}
@media (max-width: 769px) {
  .banner__image {
    width: 768px;
  }
}
.banner__image:before {
  content: '';
  position: absolute;
  width: 0px;
  height: 0px;
  border-top: 50px solid transparent;
  border-right: 600px solid rgb(255, 255, 255);
  border-bottom: 50px solid transparent;
  border-left: 600px solid rgb(255, 255, 255);
  bottom: -40px;
}
@media (max-width: 1200px) {
  .banner__image:before {
    border-right: 50vw solid rgb(255, 255, 255);
    border-left: 50vw solid rgb(255, 255, 255);
  }
}
@media (max-width: 769px) {
  .banner__image:before {
    border-right: 384px solid rgb(255, 255, 255);
    border-left: 384px solid rgb(255, 255, 255);
  }
}
.banner__image:after {
  width: 0px;
  height: 0px;
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-350px);
  border-top: 50px solid transparent;
  border-right: 350px solid rgb(255, 255, 255);
  border-bottom: 50px solid #ffffff;
  border-left: 350px solid rgb(255, 255, 255);
  bottom: -40px;
}
@media (max-width: 1200px) {
  .banner__image:after {
    border-right: 30vw solid rgb(255, 255, 255);
    border-left: 30vw solid rgb(255, 255, 255);
    transform: translateX(-30vw);
  }
}
@media (max-width: 769px) {
  .banner__image:after {
    border-right: 220px solid rgb(255, 255, 255);
    border-left: 220px solid rgb(255, 255, 255);
    transform: translateX(-220px);
  }
}

.common__header,
.content__description,
.banner__image {
  box-shadow: 0px -1px 6px 0px rgba(34, 60, 80, 0.29);
}

.content__description {
  height: 180px;
  padding: 40px 0 35px 0;
  background-color: #fff;
}
.content__title,
.content__subtitle {
  text-align: center;
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
}
.content__subtitle {
  font-size: 14px;
  font-weight: 500;
}

.features__row {
  display: flex;
  flex-direction: row;
}
.features__row-type1 {
  height: 255px;
  background-color: #81b3d2;
  color: #fff;
}
.features__row-type2 {
  height: 330px;
  background-color: #fff;
  color: rgb(0, 0, 0);
}
.features__image {
  height: 255px;
  width: calc(100% / 3 * 2);
}
.features__image-image1 {
  background: url('../img/content-1.jpg');
  background-position: center;
  background-size: cover;
}
.features__image-image2 {
  background: url('../img/content-2.jpg');
  background-position: center;
  background-size: cover;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% / 3 + 3px);
}
.card__title,
.card__subtitle {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding: 25px 50px 20px 50px;
}
.card__subtitle {
  font-size: 14px;
  font-weight: 400;
}
@media (max-width: 769px) {
  .card__title,
  .card_subtitle {
    padding: 20px 35px 15px 35px;
  }
}
.card-type-2 {
  color: black;
  background-color: rgb(238, 238, 238);
}
.card-type-2 .card__title {
  margin-left: 50px;
  margin-right: 50px;
}

.card__sprite {
  background-image: url('../img/spritesheet.png');
  width: 75px;
  height: 76px;
  margin: 30px auto 0 auto;
}
.card__sprite-sprite1 {
  background-position: -185px -5px;
}
.card__sprite-sprite2 {
  background-position: -79px -65px;
}
.card__sprite-sprite3 {
  background-position: 0px -65px;
}

.common__header {
  height: 330px;
  width: auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.common__title {
  font-size: 27px;
  padding: 20px;
}
.common__subtitle {
  font-size: 14px;
  font-weight: 400;
  padding: 20px;
}
.common__sedona-map {
  position: relative;
  height: 475px;
}
.common__sedona-map:after {
  content: '';
  position: absolute;
  background: url('../img/map.jpg');
  background-position: center;
  background-size: auto;
  height: 580px;
  width: 100%;
  z-index: -1;
}
.page-footer {
  width: 100%;
  height: 110px;
}
.page-footer .container {
  background-color: rgba(255, 254, 254, 0.85);
}
.page-footer__tag {
  font-size: 24px;
  font-weight: bolder;
}
.footer_copy {
  font-weight: lighter;
  padding: 0 5px 0 5px;
}
.page-footer__social-icons {
  background-image: url('../img/spritesheet.png');
  background-color: #81b3d2;
  background-repeat: no-repeat;
  width: 42px;
  height: 42px;
  margin: 4px;
}
.page-footer__social-icons:hover {
  background-color: #5c8ead;
}
.twitter-ico {
  background-position: 8px -158px;
}
.youtube-ico {
  background-position: -23px -156px;
}
.facebook-ico {
  background-position: -253px 4px;
}
.page-footer__icon {
  background: url('../img/spritesheet.png');
  width: 27px;
  height: 33px;
  margin: 4px;
}
.copy-icon-a {
  background-position: -163px -87px;
}
.copy-icon-a:hover {
  background-position: -237px -87px;
}
.copy-icon-academy {
  background-position: -163px -127px;
}
.copy-icon-academy:hover {
  background-position: -237px -127px;
}

.search-form {
  position: absolute;
  top: 245px;
  left: 50%;
  transform: translateX(-283px);
  width: 566px;
  height: 480px;
  background-color: #fff;
  font-size: 14px;
}
.search-form__header {
  line-height: 85px;
  background-color: #766357;
  color: #fff;
}
.search-form__params {
  width: 456px;
  height: 168px;
  padding: 55px;
}
.search-form__input-adults,
.search-form__input-kids {
  font-size: 14px;
}
.search-form__labels {
  display: inline-block;
  width: 108px;
  height: 36px;
  line-height: 36px;
}
.search-form__labels-adults-label {
  margin: 0 0 0 4px;
}
.search-form__labels-kids-label {
  text-align: center;
  margin: 0 0 0 14px;
}
.search-form__input {
  line-height: 30px;
  background-color: #f2f2f2;
  border: none;
  outline: none;
  margin-bottom: 30px;
}
.search-form__input:focus {
  border: 0px;
  border-radius: 0px;
}
.search-form__input-adults,
.search-form__input-kids {
  width: 36px;
  height: 36px;
  text-align: center;
  margin-left: -4px;
}
.search-form__input-date-arrival,
.search-form__input-date-departure {
  position: relative;
  width: 290px;
  padding-left: 15px;
  padding-right: 38px;
  line-height: 36px;
}
.search-form__input-date-arrival:after,
.search-form__input-date-departure:after {
  content: '';
  background: url('../img/spritesheet.png');
  width: 20px;
  height: 22px;
  position: absolute;
  right: 10px;
  background-position: -5px -5px;
}
.search-form__input-date-arrival:hover:after,
.search-form__input-date-departure:hover:after {
  background-position: -65px -5px;
}
.search-form__input-date-arrival:focus:after,
.search-form__input-date-departure:focus:after {
  background-position: -35px -5px;
}

.search-form__submit-btn {
  color: #fff;
  background-color: #81b3d2;
  line-height: 58px;
  width: 100%;
  border: 0px;
  margin-top: 60px;
  font-size: 24px;
  font-weight: lighter;
  cursor: pointer;
}
.search-form__submit-btn:hover {
  background-color: #5c8ead;
}
.input-btn-qty {
  width: 36px;
  height: 36px;
  background-color: #f2f2f2;
  color: #a9a9a9;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  border: none;
  outline: none;
  margin-left: -4px;
  font-family: sans-serif;
  font-size: 14px;
}
.input-btn-qty:hover {
  color: black;
}
.input-btn-qty--disabled:hover {
  color: #a9a9a9;
}

.filter {
  background: url('../img/hotels-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 250px;
  color: #fff;
  display: flex;
  padding: 30px 70px;
  box-sizing: border-box;
}
.filter__block {
  display: flex;
  flex-direction: column;
  width: 230px;
  position: relative;
}
.filter h3 {
  font-size: 16px;
  margin: 15px 0 15px 0;
}
.filter__labels {
  padding-left: 40px;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  width: auto;
}
.filter__labels:before {
  content: '';
  background: url('../img/spritesheet.png');
  background-position: -95px -5px;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
}
.filter__labels:hover:before {
  background-position: -155px -35px;
}
.filter__checkbox {
  display: none;
}
.filter__checkbox:checked + .filter__labels:before {
  background-position: -125px -5px;
}
.filter__checkbox:checked:hover + .filter__labels:before {
  background-position: -95px -35px;
}
.filter__price {
  width: 280px;
  margin-left: auto;
}
.filter__price-range {
  border: 2px solid #fff;
  width: 100%;
  height: 50px;
  border-radius: 3px;
  position: relative;
  display: flex;
}
.price-range__price-from,
.price-range__price-to {
  width: 49%;
  height: 100%;
  text-align: center;
  line-height: 50px;
  font-size: 14px;
  font-weight: 400;
}
.price-range__price-from:after {
  content: '';
  width: 2px;
  height: 30px;
  background-color: #fff;
  position: absolute;
  left: calc(50% - 2px);
  top: 10px;
}

.sort {
  background-color: #fff;
  border-bottom: 1px solid rgb(204, 204, 204);
  padding: 30px 73px;
}
.sort p {
  font-size: 24px;
  margin-right: 30px;
}
.sort__params {
  line-height: 10px;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
}
.sort__params a:first-child {
  margin-left: 45px;
}
.sort__params a {
  color: #a9a9a9;
  font-size: 12px;
  font-weight: 400;
  border-bottom: 1px dotted #5c8ead;
  margin-right: 30px;
}
.sort__params a:hover {
  color: #5c8ead;
}
.sort__params a:focus {
  color: #5c8ead;
  border-bottom: none;
}

.sort__latches {
  width: 10px;
  height: 10px;
  box-sizing: border-box;
  position: relative;
  margin-left: auto;
}
.sort__latch-incr:after {
  content: '';
  width: 0px;
  height: 0px;
  border-top: 0px solid transparent;
  border-bottom: 10px solid #a9a9a9;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  top: 1px;
  right: 30px;
}
.sort__latch-incr:hover:after,
.sort__latch-incr:focus:hover:after {
  border-bottom: 10px solid #3a3a3a;
}
.sort__latch-incr:focus:after {
  border-bottom: 10px solid #5c8ead;
}

.sort__latch-decr:after {
  content: '';
  width: 0px;
  height: 0px;
  border-top: 10px solid #a9a9a9;
  border-bottom: 0px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  top: 1px;
}
.sort__latch-decr:hover:after,
.sort__latch-decr:focus:hover:after {
  border-top: 10px solid #3a3a3a;
}
.sort__latch-decr:focus:after {
  border-top: 10px solid #5c8ead;
}
.hotel {
  padding: 30px 73px;
  height: 150px;
  border-bottom: 1px solid rgb(204, 204, 204);
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
@media (max-width: 1200px) {
  .hotel,
  .sort,
  .filter {
    padding-left: calc((100vw / 5 - 93px) / 2);
    padding-right: calc((100vw / 5 - 93px) / 2);
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .hotel,
  .sort,
  .filter {
    padding-left: 30px;
  }
}
.hotel__description {
  width: 300px;
  margin-left: 30px;
}
.hotel__link {
  color: black;
  font-size: 18px;
  text-decoration: none;
}
.hotel__link:hover {
  color: #81b3d2;
}
.hotel__link:active,
.hotel__link:focus {
  color: rgb(163, 163, 163);
}
.hotel__type,
.hotel__price {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  margin-right: 10px;
  padding: 9px 0px 10px 0px;
  width: 110px;
}
.hotel__rating {
  width: 110px;
  margin-left: auto;
}
.hotel__rating-figures {
  background-color: #f2f2f2;
  color: #b9b9b9;
  width: 100%;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  margin-top: 42px;
  font-size: 12px;
  font-weight: lighter;
  text-align: center;
}
.hotel__star {
  background: url('../img/spritesheet.png');
  background-position: -64px -170px;
  width: 17px;
  height: 18px;
  float: right;
  padding-left: 3px;
}
.hotel__star:hover {
  transform: scale(1.3);
}

.btn {
  height: 30px;
  line-height: 30px;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
}
.hotel__info-btn {
  background-color: #81b3d2;
  width: 110px;
}
.hotel__info-btn:hover {
  background-color: #5f869e;
}
.hotel__book-btn {
  background-color: rgb(110, 91, 45);
  width: 150px;
}
.hotel__book-btn:hover {
  background-color: rgb(46, 36, 12);
}

.ui-slider {
  margin-top: 40px;
  width: 100%;
  background-color: rgba(185, 185, 185, 0.308);
  height: 1px;
  position: relative;
}
.ui-slider-range {
  height: 2px;
  background-color: #fff;
  position: absolute;
  width: 100%;
}
.ui-slider-handle {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 8px solid #fff;
  position: absolute;
  top: calc(50% - 10px);
  background-color: rgb(163, 162, 162);
  outline: none;
  z-index: 6;
}
.ui-slider-handle:hover,
.ui-slider-handle:active {
  background-color: rgb(54, 54, 54);
}
